h1 .places{
    font-size: 30px;
    margin-left: 0%;
}

.art_box{
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    border: 1px solid #ff5a5f;
}

.h2_art{
    font-size: 30px;
    text-align: center;
    top: 50%;
    left: 50%;
}
